*{font-family: 'Raleway', sans-serif;}


/* menu navegacion //incio */


nav img {
    padding-left: 80px;
}
.navbar-brand{
    margin-right: 100px;
}

h1 {
    font-weight: 900;
    color: aliceblue;
    font-size: 2.813em;
}


.inicio p {
    font-weight: bold;
}

.hero {
    background: url(img/img01.png) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}






h4 {
    color: rgb(177, 9, 112);
    font-style: italic;
    font-size: 1.125em;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2 {
    color: rgb(177, 9, 112);
    font-weight: bold;
    font-size: 2.375rem;
    margin-bottom: 40px; 
    text-align: center;
    font-variant: small-caps;
    
}

h3 {
    color: rgb(177, 9, 112);
    font-weight: 800;
    font-variant: small-caps;

}

h5 {
    color: rgb(177, 9, 112);
}

h6 {
    color: rgb(177, 9, 112);
}




/* nosotros */
.title {
    text-align: center;
    margin-top: 60px;
}

.iconos-nosotros {
    display: flex;
}

.iconos-nosotros .box:hover {
transform: scale(1.1);
}
.box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box {
    width: 250px;
    height: 250px;
    margin: 20px;
    padding-top: 15px;
    background-color: #fcdef0;
}

.box img{
    width: 30%;
}
.box h5 {
margin-top: 10px;
font-variant: small-caps;
font-weight: 700;
}

.nosotros-info{
    margin-top: 50px;
    padding: 50px 0px 70px 0px;
}

/* novedades */

.fondo {
    background-color: #fcdef0;
}
.emprendedor {
    
    background: url(img/seccion-emprendedor.png) no-repeat;
    background-size: cover;
    height: 0.25vh;
    min-height: 300px;
    color: white;
}
.emprendedor h2 {
    color: white;
    padding-top: 50px;
    
}
.emprendedor p {
    text-align: center;
    font-size: 1.3rem;
    
}


.programas {
    background-color: #fcdef0;
    
}
.programa{
    
    text-align: center;
    padding-bottom: 50px 20px;
}


.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lista-novedades li {
    margin: 4px 0px 0px 4px;
}
.lista-novedades li a{
    background-color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display: block;
}

.lista-novedades li a:hover{
    color: rgb(177, 9, 112);
    background-color: #fcdef0;
}

.lista-novedadesli a img {
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img{
    filter: drop-shadow();
    margin-right: 1.4rem;
    opacity: 1;
}

/* cursos  */


.card-deck {
    margin-top: 30px;
}
.contacto{
    margin-top: 80px;
}
.cursos {
    background: #fcdef0;
    padding-top: 100px;
}

.cursos h5{
    font-weight: bold;
}


/*  Formulario contacto  */

.contacto {
    background: url(img/img001.png) no-repeat;
    background-size: cover;
    min-height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}   
.contacto h6{
    color: white;
    font-weight: 700;
}  

.contacto h2{
    font-weight: 700;
    font-size: 2.375rem;
}  

form {
    margin-bottom: 50px;
   
}
form label {
    color: white;
    font-weight: 700;
}

/*  FOOTER  */

footer {
    width: 100%;
    margin: 0;
    padding: 50px 0px;
    background-color: #fcdef0;
    
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    padding: 0px 100px 0px 100px;
    margin: auto;
}

.box__footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.box__footer .terms {
    max-width: 350px;
    font-weight: 400;
    margin-top: 15px;
}

.box__footer .socialmedia {
    display: flex;
    align-items: center;
}

.box__footer a {
    text-decoration: none;
}
.box__footer a:hover {
    opacity: 0.8;
}

