<main>
    <!-- inicio menu nav -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color: #fcdef0;">
        <a class="navbar-brand " href="#"> <img src="/images/DVlogo.png" class="" alt="logo DV"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a data-scroll class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#contactanos">Contactanos</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#colaboraciones">El Emprendedor</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- hero -->
    <div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2 inicio">
                <h1>Una experiencia diferente</h1>
                <p>Servicios de consultoría y capacitación personalizados para mejorar tu propia competitividad o la
                    de tu empresa.</p>
            </div>
        </div>
        <!-- nosotros -->
        <h2 class="title">sobre nosotros </h2>
        <div class="container">
            <div class="row nosotros-info">
                <div class="col-6 nuestra-historia">
                    <p>DV Consultoría y Turismo nace para brindar un servicio diferencial en capacitaciones para
                        profesionales y agencias del área turística. Gracias al apoyo y la confianza que recibimos
                        de
                        ustedes, seguimos creciendo y ofreciendo más servicios. </p>
                    <p>Paula Rifice Echeverría es docente y fundadora de DV. Es Licenciada en Gestión de Empresas
                        Turísticas y Hoteleras, guía de turismo y asesora de viajes. Cuenta con una trayectoria de
                        más de 10
                        años en el rubro aeroportuario, además de ser especialista en Sostenibilidad y Customer
                        Experiencie.
                    </p>
                    <h4>"Siempre estoy haciendo lo que no puedo hacer,<br> para poder aprender a hacerlo" </h4>
                </div>
                <div class="col-6 ">
                    <div id="nosotros" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/img002.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/img04.png" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container iconos-nosotros">
            <div class="row box-container">
                <div class="col box">
                    <img src="/images/icono1.png" alt="">
                    <h5>profesionales</h5>
                    <p>Brindamos capacitaciones para profesionales y estudiantes del área turística</p>
                </div>
            </div>
            <div class="row box-container">
                <div class="col box">
                    <img src="/images/icono2.png" alt="">
                    <h5>agencias</h5>
                    <p>Armamos planes de capacitación personalizada para agencias turísticas</p>
                </div>
            </div>
            <div class="row box-container">
                <div class="col box">
                    <img src="/images/icono3.png" alt="">
                    <h5>cursos gratuitos</h5>
                    <p>Tenemos opciones gratuitas para que puedas formarte con nosotros sin ningún impedimento</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- cierre nosotros -->
    <!-- inicio cursos -->
    <div id="cursos" class="row align-items-strech cursos py-2">
        <div class="col-lg-8 offset-lg-2">
            <h2>conocé nuestros cursos</h2>
            <div class="card-deck">
                <!-- padre -->
                <div class="card">
                    <!-- hijo1 -->
                    <img src="/images/curso01.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Turismo Sostenible</h5>
                        <p class="card-text">En este curso abordaremos el cuidado del medioambiente en el sector
                            turístico...</p>
                        <a data-toggle="modal" data-target="#modalCurso1" href="#" class="btn btn-secondary">Ver
                            más...</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/curso02.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Turismo Post Covid</h5>
                        <p class="card-text">En este curso podremos replantear los procesos para que se amparen con
                            un modelo turístico...</p>
                        <a data-toggle="modal" data-target="#modalCurso2" href="#" class="btn btn-secondary">Ver
                            más...</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/curso03.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Introducción al Marketing Turístico</h5>
                        <p class="card-text">En este curso trabajaremos conceptos del marketing turístico...
                        </p>
                        <a data-toggle="modal" data-target="#modalCurso3" href="#" class="btn btn-secondary">Ver
                            más...</a>
                    </div>
                </div>
                <div class="card">
                    <img src="/images/curso04.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Formación para agencias de viaje</h5>
                        <p class="card-text">Si necesitas capacitar a tu equipo, armamos cursos completamente...</p>
                        <a data-toggle="modal" data-target="#modalCurso4" href="#" class="btn btn-secondary">Ver
                            más...</a>
                    </div>
                </div>
            </div>
            <!--cierre card -->
        </div>
    </div>
    <!--cierre cursos -->
    <!--inicio modal 1 -->
    <div class="modal" id="modalCurso1" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Turismo Sostenible</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>En este curso abordaremos el cuidado del medioambiente en el sector
                        turístico, con un enfoque sostenible, aportando las herramientas concretas que te
                        permitirán implementar buenas prácticas de sustentabilidad</p>
                </div>
                <div class="modal-footer">
                    <a href="https://dreamstouristicprojects.com/producto/curso-de-turismo-sustentable/" target="_blank"
                        class="btn btn-secondary">Quiero info!</a>
                </div>
            </div>
        </div>
    </div>
    <!--cierre modal -->
    <!--inicio modal 2 -->
    <div class="modal" id="modalCurso2" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Turismo Post Covid</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>En este curso podremos replantear los procesos para que se amparen con
                        un modelo turístico sostenible y desarrollaremos acciones y prácticas para la
                        reactivación del turismo después de la pandemia.</p>
                </div>
                <div class="modal-footer">
                    <a href="#contactanos" class="btn btn-secondary">Quiero info!</a>
                </div>
            </div>
        </div>
    </div>
    <!--cierre modal -->
    <!--inicio modal 3 -->
    <div class="modal" id="modalCurso3" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Introducción al Marketing Turístico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>En este curso trabajaremos conceptos del marketing turístico, su entorno y definir el
                        concepto y la naturaleza de los destinos turísticos. Nos ayudará a comprender el papel del
                        marketing en la comercialización del Turismo.</p>
                </div>
                <div class="modal-footer">
                    <a href="#contactanos" class="btn btn-secondary">Quiero info!</a>
                </div>
            </div>
        </div>
    </div>
    <!--cierre modal -->
    <!--inicio modal 4 -->
    <div class="modal" id="modalCurso4" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Formación para Agencias de Viaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Si necesitas capacitar a tu equipo, armamos cursos completamente personalizados que te
                        brindarán herramientas para fortalecer tu negocio. Un plan completamente pensado para vos o
                        tu equipo, dependiendo los roles y necesidades puntuales. </p>
                </div>
                <div class="modal-footer">
                    <a href="#contactanos" class="btn btn-secondary">Quiero info!</a>
                </div>
            </div>
        </div>
    </div>
    <!--cierre modal -->
    <div class="container-fluid">
        <div id="colaboraciones" class="row emprendedor">
            <div class="col-6 offset-3 py-3 texto">
                <h2>colaboraciones especiales</h2>
                <p>Te invitamos a conocer nuestro programa semanal pensado para emprendedores. Junto con Juan Rifice
                    y Ramiro López, transmitimos en vivo cada viernes El Emprendedor del Año</p>
            </div>
        </div>
    </div>

    <!--inicio novedades -->
    <div id="novedades" class="row py-4">
        <div class="col-md-4 offset-md-2 ">
            <ul class="lista-novedades">
                <li><a href="https://www.youtube.com/watch?v=6xfAKRunfH4" target="_blank"><img
                            src="/images/emprendedor1.png" width="150">Programa Nro 53</a></li>
                <li><a href="https://www.youtube.com/watch?v=hNzDhH442KI" target="_blank"><img
                            src="/images/emprendedor2.png" width="150">Programa Nro 52</a></li>
                <li><a href="https://www.youtube.com/watch?v=-tbf_UfvQO8" target="_blank"><img
                            src="/images/emprendedor3.png" width="150">Programa Nro 51</a></li>
                <li><a href="https://www.youtube.com/watch?v=-hQ4bUcFvLU" target="_blank"><img
                            src="/images/emprendedor5.png" width="150">Programa Nro 50</a></li>
                <li><a href="https://www.youtube.com/watch?v=YbK-NsXk4eE" target="_blank"><img
                            src="/images/emprendedor4.png" width="150">Programa Nro 49</a></li>
            </ul>
        </div>
        <!--carrusel programa -->
        <div class="col-md-4">
            <div class="rounded programas">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/emprendendor-cover1.png" class="d-block w-100" alt="...">

                        </div>
                        <div class="carousel-item">
                            <img src="/images/emprendendor-cover3.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/emprendendor-cover4.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--cierre carrusel programa -->
    <!--cierre novedades -->
    <!--contactanos -->
    <div class="container-fluid ">
        <div id="contactanos" class="row contacto">
            <div class="col-6 offset-3">
                <h2>escribinos para ponernos en contacto</h2>
                <form action="/" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="..." name="nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" placeholder="..." name="apellido">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
                    </div>
                    <div class="form-group">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="4" name="mensaje"></textarea>
                    </div>
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </form>
                {{message}}
                <h6>Lic. Paula Rifice Echeverría</h6>
                <h6>paularifice@gmail.com</h6>
                <h6>Buenos Aires, Argentina</h6>
            </div>
        </div>
    </div>


    <!--cierre form -->
</main>

<footer>
    <div class="container__footer">
        <div class="box__footer">
            <div class="logo">
                <img src="/images/DVlogo02.png" width="200" alt="Logo DV">
            </div>
        </div>
        <div class="box__footer">
            <a href="#nosotros">
                <h6>Nosotros</h6>
            </a>
            <a href="#cursos">
                <h6>Cursos</h6>
            </a>
            <a href="#contactanos">
                <h6>contactanos</h6>
            </a>

            <div class="socialmedia">
                <a href="https://www.facebook.com/dvturismo"><img src="/images/icon-fb.png" width="30"></i> </a>
                <a href="https://www.instagram.com/dvconsultoriayturismo" target="_blank"><img src="/images/icon-ig.png"
                        width="30"></i> </a>
                <a href="https://www.linkedin.com/in/paula-rifice-echeverria-70008942"><img src="/images/icon-link.png"
                        width="30"></i> </a>
            </div>
        </div>
    </div>
</footer>